<!-- invite.html -->
<!-- for The Voting Game -->

<!doctype html>
<html ng-app="voting-game" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="styles.css">
	<title>The Voting Game Invites</title>

	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="images/android-desktop.png">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Material Design Lite">
	<link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
	<meta name="msapplication-TileColor" content="#3372DF">

	<style type="text/css">
		.chat-window{
		width: 500px;
		height: 400px;
		overflow-y: auto;
		}
	</style>

</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base" ng-controller="GameController">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<div ng-init="getCurrentPlayer();">
		<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title"><img src="favicon.ico" alt="logo" height="50" width="50">&nbsp&nbspThe Voting Game</span>
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				<!-- Navigation. We hide it in small screens. -->
				<nav class="mdl-navigation mdl-layout--large-screen-only">
					<span class="mdl-layout-title">Welcome, {{f_name}}!&nbsp&nbsp&nbsp&nbsp</span>
					<form method="post" action="/the-voting-game/login.html">
						<button class="mdl-button mdl-button--raised mdl-js-button mdl-button--accent" ng-click="logout();">Logout</button>
					</form>
				</nav>
			</div>
			<div class="mdl-layout--large-screen-only mdl-layout__header-row">
				<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
					<a href="home.html" class="mdl-layout__tab">Overview</a>
					<a href="invite.html" class="mdl-layout__tab is-active">Create</a>
					<a href="#join" class="mdl-layout__tab">Join</a>
					<a href="#start" class="mdl-layout__tab">Start</a>
					<a href="leaderboard.html" class="mdl-layout__tab">Leaderboard</a>
					<!-- <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
						<i class="material-icons" role="presentation">add</i>
						<span class="visuallyhidden">Add</span>
					</button> -->
				</div>
			</div>
		</header>

		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
			<div class="mdl-layout__drawer mdl-color--indigo mdl-color-text--grey-700">
				<span class="mdl-layout-title mdl-color-text--black">Players</span>
				<div ng-init="getPlayers();">
					<div ng-show="players.length == 0" style="padding:20px">
						There are no players <i class="material-icons">mood_bad</i>
					</div>
					<div ng-show="players.length > 0">
						<div ng-repeat="player in players" style="padding:0px 34px">
                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--white" ng-click="getInvitedPlayer();" ng-hide="player.u_name == u_name"/>
                            {{player.u_name}}
                            </button>
                            <span class="mdl-badge mdl-badge--overlap" data-badge="" ng-show="checkUnreadList(player.u_name, myUnreadUserList);"></span>
                        </div>
					</div>
				</div>
			</div>
			<main class="mdl-layout__content">
				<div class="mdl-layout__tab-panel is-active" id="create">
					<!-- The drawer is always open in large screens. The header is always shown, even in small screens. -->

					<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
						<!-- <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
                            <img src="the_voting_game-5.jpg" alt="logo" height="380" width="250">
                        </header> -->
						<div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
							<div class="mdl-card__supporting-text">
								<h3 class="ng-binding">Create a Game</h3>
								<p>Select at least five players.</p>
								<p>Click Invite.</p>
								<p>You will be notified when there are enough players to start your game.</p>
								<!-- create invitation form -->
								<div class="mdl-card__supporting-text">
									<!-- Floating Multiline Textfield -->
									<!-- <form action="#">
										<div class="mdl-textfield mdl-js-textfield">
											<textarea class="mdl-textfield__input" type="text" rows= "5" id="sample5" ></textarea>
											<label class="mdl-textfield__label" for="sample5">PLayers to invite...</label>
										</div>
									</form> -->
									<div ng-init="getPlayers();">
										<div ng-show="players.length == 0" style="padding:20px">
											There are no players <i class="material-icons">mood_bad</i>
										</div>
										<div ng-show="players.length > 0">
											<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
												<thead>
													<tr>
														<th class="mdl-data-table__cell--non-numeric mdl-color-text--grey-800">First Name</th>
														<th class="mdl-data-table__cell--non-numeric mdl-color-text--grey-800">Last Name</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="player in players">
														<td class="mdl-data-table__cell--non-numeric">{{player.f_name}}</td>
														<td class="mdl-data-table__cell--non-numeric">{{player.l_name}}</td>
													</tr>
												</tbody>
											</table>
											<!--<div ng-repeat="player in players" style="padding:20px">
                                                <button ng-class="{'mdl-button mdl-js-button mdl-color-text--white':player.online == true,'mdl-button mdl-js-button mdl-color-text--grey': player.online == false}"
                                                        ng-click="selectPlayer(player.u_name, players);" ng-hide="player.u_name == u_name"/>
                                                {{player.u_name}}
                                                </button>
                                                <span class="mdl-badge mdl-badge--overlap" data-badge="" ng-show="checkUnreadList(player.u_name, myUnreadUserList);"></span>
                                            </div> -->
										</div>
									</div>
								</div>
							</div>
							<div class="mdl-card__actions">
								<!-- Still need to create invite() function -->
								<button class="mdl-button mdl-button--raised mdl-js-button mdl-button--accent" ng-click="invite();">Invite!</button>
							</div>
						</div>
					</section>
				</div>
			</main>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

<script src="./ng-voting-game.js"></script>

</body>
</html>